*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .heading{
  color: #fa9191;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-family:'Source Serif Pro', serif;
  text-shadow:0px,2px,4px,#ffe9c5 ;
} */
.img{
  display: flex;
  justify-content: center;
}
.img img{
    width: 200px;
    height: 300px;
  
  

}